<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>

        <%- include('./partials/nav') %>

            <div class="about content">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti qui ex magnam nulla reprehenderit! Aspernatur exercitationem quisquam inventore enim, aliquid perferendis cumque. Perspiciatis dolor, rerum possimus at aliquid necessitatibus
                    velit.
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti qui ex magnam nulla reprehenderit! Aspernatur exercitationem quisquam inventore enim, aliquid perferendis cumque. Perspiciatis dolor, rerum possimus at aliquid necessitatibus
                    velit.
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti qui ex magnam nulla reprehenderit! Aspernatur exercitationem quisquam inventore enim, aliquid perferendis cumque. Perspiciatis dolor, rerum possimus at aliquid necessitatibus
                    velit.
                </p>
            </div>
            <%- include('./partials/footer') %>
    </body>

</html>